<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/vue.js"></script>
</head>
<body>
    <div id="app">
        <div v-for="(row,rowIndex) in arr">
            <span v-for="(row,colIndex) in getArray(rowIndex+1)">
                {{colIndex+1}}*{{rowIndex+1}}={{(colIndex+1)*(rowIndex+1)}}&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </div>
    </div>
    <script>
        let vm=new Vue({
            el:"#app",
            data:{
                arr:Array(9)
            },
            methods:{
                getArray(num){
                    return Array(num);
                }
            }
        });
    </script>
</body>
</html>